<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- CDN Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div class="card">
        <img src="images/illustration-box-desktop.svg" alt="box" class="box">
        <div class="card-image">
            <!-- images for mobile version -->
            <img src="images/illustration-woman-online-mobile.svg" alt="illustration-woman-online-mobile" class="mobile-img" >
            
            <!-- images for desktop version -->
            <img src="images/illustration-woman-online-desktop.svg" alt="illustration-woman-online-desktop" class="desktop-img">
            
        </div>
        <div class="card-text" id="app">
            <h1>FAQ</h1>
            <!-- <div class="accordion-item">
                <button> <span>How many team members can I invite?</span><img src="images/icon-arrow-down.svg" alt=""></button>
                <p>You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>
            </div>
            <div class="accordion-item">
                <button><span>What is the maximum file upload size?</span><img src="images/icon-arrow-down.svg" alt=""></button>
                <p> No more than 2GB. All files in your account must fit your allotted storage space.</p>
            </div>
            <div class="accordion-item">
                <button><span>How do I reset my password?</span><img src="images/icon-arrow-down.svg" alt=""></button>
                <p>Click “Forgot password” from the login page or “Change password” from your profile page.A reset link will be emailed to you.</p>
            </div>
            <div class="accordion-item">
                <button><span>Can I cancel my subscription?</span><img src="images/icon-arrow-down.svg" alt=""></button>
                <p>Yes! Send us a message and we’ll process your request no questions asked.</p>
            </div>
            <div class="accordion-item">
                <button><span>Do you provide additional support?</span><img src="images/icon-arrow-down.svg" alt=""></button>
                <p>Chat and email support is available 24/7. Phone lines are open during normal business hours.</p>
            </div> -->

            <div class="accordion-item" v-for="(accordion,index) in accordions">
                <button @click="openAccordion(index)"> <span :class="{ boldQuestion : active && indexCheck == index }">{{accordion.question}}</span><img src="images/icon-arrow-down.svg" alt=""></button>
                <p v-if="active && indexCheck == index" >{{accordion.answer}}</p>
            </div>

        </div>
    </div>




    <script src="js/script.js"></script>
    
</body>
</html>